div.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  background: #282c34;
  }
 div{
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  background: #282c34;
 }
 p{
  color: #fff;
 }
  div.navbar{ 
  color:#fff
}